<%= render "shared/alert-box"%>

<h3>Seznamy dárků</h3>

<%= render partial: 'list_form', locals: { list: @list } if !current_user.guest? %>
<div class="panel panel-default">
	<div class="panel-heading">
		Moje
	</div>
	<div class="panel-body">
		<%= render partial: 'list', collection: @lists_owned %>
		<%= render partial: 'list_empty', locals: { type: "owned" } if @lists_owned.blank? %>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Cizí
	</div>
	<div class="panel-body">
		<%= render partial: 'list', collection: @lists_invited %>
		<%= render partial: 'list_empty', locals: { type: "invited" } if @lists_invited.blank? %>
	</div>
</div>
