<%= render "shared/alert-box"%>

<div class="panel panel-default">
	<div class="panel-body">
		<%= bootstrap_form_for(@user) do |f| %>
		<%= f.text_field :name, label: "Jméno"%>
		<%= f.text_field :surname, label: "Příjmení" %>
		<%= f.email_field :email %>
		<%= f.password_field :password, label: "Heslo" %>
		<%= f.password_field :password_confirmation, label: "Ještě jednou pro kontrolu" %>
		<%= original_controller(@origin) %>
		<%= hidden_field_tag 'ga_user_id', '', :class => 'ga_user_id' %>
		<%= f.submit "Poďme" %>
		<% end %>
	</div>
</div>
