<div class="row">
	<div class="col-sm-8 col-md-8 col-centered">
		<h3>Registrace uživatele</h3>

		<%= render "shared/alert-box"%>

		<div class="panel panel-default">
			<div class="panel-body">
				<%= bootstrap_form_for(User.new) do |f| %>
				<%= f.text_field :name, label: "Jméno"%>
				<%= f.text_field :surname, label: "Příjmení" %>
				<%= f.email_field :email %>
				<%= f.password_field :password, label: "Heslo" %>
				<%= f.password_field :password_confirmation, label: "Ještě jednou pro kontrolu" %>
				<%= f.submit "Poďme" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

