<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-plus-sign text-primary" style="font-size: 20pt; float: left"></span>
		<div class="col-md-10 col-lg-8">
			<div class="row">
				<%= bootstrap_form_for(@gift) do |f| %>
				<%= f.text_field :name, label: "co si přeju", placeholder: "" %>
				<%= f.text_area :description, label: "podrobnosti", placeholder: "popis, odkazy, ..." %>
				<%= f.text_field :price_range, label: "cenové rozpětí", placeholder: "350..450 Kč" %>
				<%= f.hidden_field :list_id, value: @gift.list_id %>
				<%= f.primary "uložit", class: "btn btn-success" %>
				&nbsp;&nbsp;&nbsp;<%= link_to 'smazat', @gift, :method => :delete, :confirm => "Určitě?" if current_page?(action: 'edit') %>
				<% end %>
			</div>
			<div class="row">
				<p>
					<%= render partial: 'gifts/url_form' if current_controller("gifts") %>
				</p>

				<table class="table-condensed" id="result">
					<%= render partial: 'urls/url', collection: @urls %>
				</table>

			</div>
		</div>
	</div>
</div>

<script>
	$("#form").submit( function(event) {
		url = $("#url");
		if ( url.val().length === 0 ) {
			url.val("zadejte něco...").fadeOut(500);
			url.val("").fadeIn(500);
			event.preventDefault();
		}
	}); 
</script>
