<!DOCTYPE html>
<html>
	<head>
		<title><%= page_title %></title>
		<meta name="google-site-verification" content="BF3nAAAJA0VeSQzcfqiY5Rnnp5UHfM5u2hPechTOO3Y" />
		<%= render 'shared/favicon' %>
		<%= render 'shared/opengraph_main' %>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="background" class="vanoce">
			<div class="container" style="min-height: 800px">
				<br />
				<%= render 'shared/header' %>
				<div class="col-md-8 col-centered">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
