<!DOCTYPE html>
<html>
	<head>
		<title>Givit - dárky, které opravdu potěší</title>
		<%= stylesheet_link_tag 'application' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			@font-face {
				font-family: 'Glyphicons Halflings';
				src: url( <%= asset_url('glyphicons-halflings-regular.eot', host: asset_host ) %> );
				src: url( <%= asset_url('glyphicons-halflings-regular.eot?#iefix', host: asset_host ) %> ) format('embedded-opentype'),
				url(<%= asset_url('glyphicons-halflings-regular.woff', host: asset_host ) %>) format('woff'),
				url(<%= asset_url('glyphicons-halflings-regular.ttf', host: asset_host ) %>) format('truetype'),
				url(<%= asset_url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular', host: asset_host ) %> ) format('svg');
			}
		</style>
		<%= render 'shared/glyphicons' %>
	</head>

	<body>
		<div class="container">
			<div class="col-xs-12 col-md-10 col-lg-8">
				<%= yield %>
			</div>
	</body>
</html>
